.header {
  display: flex;
  background-color: black;
}
.logo {
  text-align: center;
  width: 230px;
}
.btn {
  padding: 20px 0 20px 50px;
}
.btn a {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
.apple {
  width: 60px;
}
.links {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 60px;
  border: none;
  background-color: black;
}
.link {
  text-align: right;
  width: 567px;
  padding-top: 20px;
}
.iphone {
  text-align: center;
  color: white;
  background-color: black;
}
h2 {
  margin: 0;
  padding-top: 25px;
  font-size: 32px;
}
p {
  margin-bottom: 0;
  font-size: 18px;
}
.xs {
  width: 700px;
  height: 335px;
}
.ipad {
  text-align: center;
}
.pro {
  width: 450px;
}
.macbook {
  text-align: center;
  color: white;
  background-color: rgba(20, 15, 26, 3.92);
}
.accessory {
  display: flex;
}
.watch {
  text-align: center;
  width: 50%;
}
.aw {
  display: flex;
  text-align: center;
}
.aw img {
  width: 40px;
  height: 40px;
  padding-top: 20px;
  padding-left: 250px;
}
.watch h4 {
  text-transform: uppercase;
  color: red;
  margin: 0;
}
.aw h3 {
  font-size: 25px;
}
.awatch {
  height: 280px;
  padding-top: 50px;
}
.ap {
  text-align: center;
  width: 50%;
}
.learn {
  padding-top: 20px;
}
.learn a {
  text-decoration: none;
  color: #294BFF;
  padding: 0 45px;
  font-size: 18px;
}
.usa {
  display: flex;
}
.container {
  width: 780px;
  margin-left: 220px;
}
h3 {
  color: blue;
}
.comp {
  height: 80px;
  padding-left: 567px;
}
.inc {
  display: flex;
  color: #fff;
  background-color: #000;
  border-top: 1px solid #fff;
}
.cont {
  width: 1015px;
  padding-left: 160px;
}